{% load static %}


<div class="header">
    <div class="container-fluid">
        <div class="row d_flex">
           <div class=" col-md-2 col-sm-3 col logo_section">
              <div class="full">
                 <div class="center-desk">
                    <div class="logo">
                       <a href="{% url 'main:index' %}"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-8 col-sm-12">
              <nav class="navigation navbar navbar-expand-md navbar-dark ">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarsExample04">
                     {% with request.resolver_match.app_name as app_name %}
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item {% if app_name == 'main' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'main:index' %}">Home</a>
                           </li>
                           <li class="nav-item {% if app_name == 'about' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'about:about' %}">About</a>
                           </li>
                           <li class="nav-item {% if app_name == 'skating' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'skating:skating' %}">skating</a>
                           </li>
                           <li class="nav-item {% if app_name == 'shop' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'shop:shop' %}">shop</a>
                           </li>
                           <li class="nav-item {% if app_name == 'contact' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'contact:contact' %}">Contact Us</a>
                           </li>
                           <li class="nav-item {% if app_name == 'product' %}active{% endif %}">
                              <a class="nav-link" href="{% url 'product:product' %}">Products <sup><i class="fa fa-star"></i></sup></a>
                           </li>
                        </ul>
                     {% endwith %}
                 </div>
              </nav>
           </div>
           <div class="col-md-2">
              <ul class="email text_align_right">
                 <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                 <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
              </ul>
           </div>
        </div>
    </div>
</div>